<hr />
<h5>On The Interwebs</h5>

<ul class="list-unstyled">
    <li><a href="https://twitter.com/svenbot42"><i class="fab fa-twitter"></i> Twitter <small>(svenbot42)</small></a></li>
    <li><a href="https://github.com/svenbot42"><i class="fab fa-github"></i> GitHub <small>(svenbot42)</small></a></li>
    <li><a href="https://keybase.io/svenbot42"><i class="fab fa-keybase"></i> Keybase <small>(svenbot42)</small></a></li>
</ul>
<!-- Custom scripts for this template -->
<script src="@Context.GetLink("/js/snowstorm-min.js")"></script>
